{% if success is defined and success %}
    <p class="alert alert-success">Das Passwort wurde erfolgreich geändert.</p>
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}