{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account erstellen</h1>
    {% form_theme form 'bootsrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}