<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Status</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Aktuell</th>
                <th>Umsätze gesamt</th>
                <th>Endstand</th>
            </tr>
            </thead>
            <tbody>
            <tr class="status">
                <td class="currentAmount">{{ account.amount(true)|movement|raw }}</td>
                <td class="movementsAmount">{{ account.movementsAmountSum|movement|raw }}</td>
                <td class="amountAfter">{{ account.amount|movement|raw }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>